XSD/StatusType.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.personabank.com/services/accounts/xsd/status" xmlns:this="http://www.personabank.com/services/accounts/xsd/status">
    <xsd:complexType name="StatusType">
    	<xsd:sequence>
    		<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
    		</xsd:element>
    		<xsd:element maxOccurs="1" minOccurs="1" name="description" type="xsd:string"/>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>